{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}


{% block body %}

<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="static/efg.png" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">NG EGGS</h6>
                    <h1 class="mb-3">We Provide Best EGGS In Your Budget</h1>
                    
                    <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid" src="img/Brown Egg.png" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="" alt="">
                        </div>
                    </div>
                    <a href="/" class="btn btn-primary mt-1">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-money-check-alt text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">White Eggs</h5>
                        <p class="m-0"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-award text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Brown Eggs</h5>
                        <p class="m-0"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-globe text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Desi Eggs</h5>
                        <p class="m-0"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Destination Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Solapur</h6>
            <h1>Explore shukur Eggs Center</h1>
        </div>
        
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/Dukan.png" alt="">
           
    <p>At our Eggs Wholesaler Center, we are committed to providing the highest quality eggs to our valued customers. With years of experience in the industry, we take pride in offering a wide range of fresh and nutritious eggs sourced directly from trusted farmers.
    Our mission is to meet the demands of both individual customers and businesses with exceptional service and products that exceed expectations. Whether you are a retailer, restaurant owner, or individual looking for premium eggs, we have you covered.
    Discover the difference of our farm-fresh eggs and experience the superior taste and quality that sets us apart. Join us in our passion for delivering the finest eggs to your table.</p>

</div>
              
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/Dukan.png" alt="">
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/Dukan.png" alt="">
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/Dukan.png" alt="">
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/Dukan.png" alt="">
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="img/Dukan.png" alt="">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Destination Start -->


<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">NG EGGS</h6>
            <h1>Transport Services</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                    <h5 class="mb-2">Eicher Truck Service</h5>
                    <p class="m-0"></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                    <h5 class="mb-2">Mini Truck Service</h5>
                    <p class="m-0"></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                    <h5 class="mb-2">Retail Service</h5>
                    <p class="m-0"></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
